:root {
    --orange: #ff9f1c;
    --light-orange: #ffbf69;
    --white: #ffffff;
    --light-cyan: #cbf3f0;
    --turquoise: #2ec4b6;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;

    background: var(--light-orange);

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-container {
    display: flex;

    width: 1000px;
    max-width: 95%;

    background: white;

    border-radius: 20px;

    overflow: hidden;
}

.branding {
    flex: 1;

    background: var(--white);

    color: var(--turquoise);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 50px;
}

.logo {
    width: 350px;
    margin-bottom: 10px;
}

.branding h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.branding p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.form-container {
    flex: 1;
    padding: 40px;
}

.form-container h2 {
    color: #2ec4b6;
    text-align: center;
}

input {
    width: 100%;
    padding: 12px;

    border: 2px solid #cbf3f0;

    border-radius: 8px;

    margin-bottom: 15px;
}

input:focus {
    outline: none;

    border-color: #2ec4b6;
}

button {
    width: 100%;
    padding: 12px;

    border: none;

    border-radius: 8px;

    background: #ff9f1c;

    color: white;

    font-size: 1rem;

    cursor: pointer;
}

button:hover {
    background: #ff8c00;
}

/* register */
.row {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.field {
    flex: 1;
}

.field input,
.field select {
    margin-bottom: 0;
}

select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;

    border: 2px solid var(--light-cyan);
    border-radius: 8px;

    background-color: white;
    color: #333;

    font-size: 1rem;
    font-family: inherit;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    /* cursor: pointer;

    background-image:
        linear-gradient(45deg, transparent 50%, var(--turquoise) 50%),
        linear-gradient(135deg, var(--turquoise) 50%, transparent 50%);
    background-position:
        calc(100% - 22px) calc(50% - 3px),
        calc(100% - 16px) calc(50% - 3px);
    background-size: 6px 6px;
    background-repeat: no-repeat; */
}

input:hover, select:hover {
    border-color: var(--turquoise);
}

option {
    padding: 10px;
}